<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello people of {{info.location|capitalize}}</h1>
    <h2>Temp={{info.temperature}}</h2>
    <h2>Wind Speed= {{info.wind_speed}} km/h</h2>
    <h2>Description= {{info.description}} </h2>
    <h2>Humidity= {{info.humidity}} %</h2>
    <h2>Feels Like= {{info.feels_like}} </h2>
</body>
</html>